/* Review criteria
less 
You will review each submission based on whether each objective/style is achieved or not, and at what level. (For instance, did they put in background-color and if so, did they use hexadecimal or rgb.)

Specifically, you will use evaluate submissions by answering the following questions:

Does the body have padding and or margin?
Is the header styled?
Are ONLY the links in navigation styled, not the other links?
Are the links styled?
Is the “active” class styled to clearly show which page is the current page?
Are the two sections side-by-side?
Are the images styled?
Instructions
less 
Steps:

1) Download the image from http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg and put it into a folder named images.

2) Style the following:

The body should have padding and margin

The header should have a background color, background image (using a local image), and padding

The navigation links (and only the links in the navigation) should be styled with a new display, margin, border-radius, text-decoration, and padding

The link to the current page should be styled differently from the other links (using class = "active')

The sections should be next to each other, not one on top of the other.

The images should be part of the page now. In addition, they should have a border, be centered horizontally, and have vertical (top/bottom) space between them and the other images. */

body{

    margin: 10px;
    padding: 10px;

}

header{
	text-align: center;
    background: url(flywheel.jpg) no-repeat;
    background-size: cover;
    padding: 26px;
    background-color: #d3d3d3;


}

h1{
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-size: x-large;

}

nav a{
	text-decoration: none;
	display: inline-block;
	padding:15px 30px;
	color: #000000;
	border: solid;
	border-radius: 10px;
	margin-right: 50px;
	margin-left: 50px;



}

a:visited{
	padding: 30px 50px
	background-color: #ffffff;
}

img{
	border: solid;
	border-color: #000000;
	width: 225px;
	height: 140px;
	display: block;
	margin-top: 35px;
	margin-bottom:35px;
	margin-right: auto;
	margin-left: auto;


}

.active{
	background-color: 	#228B22;
	color: #ffffff;

}

.left{
float: left;
width: 22%;
padding: 10px;
height: 90%;
background-color: #228B22;
margin-right: 15px

}

.right{
	width: 90%;


    }
