/* you will evaluate submissions by answering the following questions:

Is the table element styled?
Are the table headings properly styled?
Are ONLY the corners of the table styled?
Does the opacity of a table row change when it is hovered over?
Are the table elements styled?
Instructions
less 
Steps:

1) The table should be styled using at least four properties

2) The table headings should have a border, background color, and at least one other property.

3) Style the table so that the text in the first column is left-aligned and the text in the other two columns is centered

4) Set the opacity of the table rows to a value between .6 and .8 (make sure it is still visible)

5) Change the opacity of a row when it is hovered over

6) The table elements < td > should be styled using at least four properties */ 

body{

    margin: 10px;
    padding: 10px;

}

header{
	text-align: center;
    background: url('../img/flywheel.jpg') no-repeat;
    background-size: cover;
    padding: 35px;
    background-color: #d3d3d3;


}

h1{
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-size: x-large;

}

nav a{
	text-decoration: none;
	display: inline-block;
	padding:15px 30px;
	color: #000000;
	border-radius: 10px;
	margin-right: 50px;
	margin-left: 50px;
	background-color: rgba(218,234,213,0.60)



}

a:visited{
	padding: 30px 50px
	background-color: #ffffff;
}

img{
	border: solid;
	border-color: #000000;
	width: 225px;
	height: 140px;
	display: block;
	margin-top: 35px;
	margin-bottom:35px;
	margin-right: auto;
	margin-left: auto;


}

.active{
	background-color: 	#228B22;
	color: #ffffff;

}

.left{
float: left;
width: 22%;
padding: 10px;
height: 90%;
background-color: #228B22;
margin-right: 15px

}

.right{
	width: 90%;

/*---------------table styling----------------*/
    }

table{
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	font-weight: bold;
	line-height: normal;
	width: 65%;
	margin: center;
	border: 1px solid hide;
	border-radius: 5px 5px 0 0;



}

table th{
	border-bottom: 5px solid green;
	background-image: linear-gradient(green, black);
	padding: 10px;

}

th{
	color:white;
	border-radius: 3px 3px 0 0;
}

table th:first-child{
	text-align: left;
}

td{
    border:solid hide;
    background-color: rgba(144,238,144,0.40);
    padding: 5px;
    text-align: center;
    font-color: #ffffff;
    border-radius: 2px;

}

tr:hover{
	opacity: 1;

}

th::first-letter{
	font-size: medium;
}

td:first-child{
	text-align: left;
}

tr{
	opacity: 0.7;
}
